*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
  font-weight: 500;
}

html,
body {
  outline: none;
}

body {
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #262626;
}

a {
  text-decoration: none;
}

img {
  outline: none;
}

textarea {
  resize: none;
  outline: none;
}
